@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #A79277;
    --cor-secundaria: #D1BB9E;
    --cor-terciaria: #EAD8C0;
    --cor-hover: #FFF2E1;
}

* {
    margin: 0;
    padding: 0;
}

body {

    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5% 15%;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    width: 50%;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    
}
.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    cursor: grab;
}

.apresentacao__imagem {
    width: 50%;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 5px;
    text-align: center;
}




